{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends "index1.html" %}
{% block body %}
    <p></p>
    <p></p>
    <h1> Add Crop</h1>
    <p></p>
    <p></p>

<form action="/Add_cropinsert" method="post" enctype="multipart/form-data" name="form1" id="form1">

<table class="table table-striped">
  <tr>
    <td >
      Choose Image&nbsp;</td>
    <td><input type="file" name="crop_file" id="fileField" required class="form-control"/></td>

  </tr>
  <tr>
    <td ><label></label>
      Crop Name</td>
    <td><input type="text" name="crop_name" id="textfield" placeholder="Add crop name" required class="form-control"/></td>

  </tr>
  <tr>
    <td ><label></label>
      &nbsp;Description</td>
    <td><textarea name="crop_des" id="textarea"   placeholder="Add descriptions" required class="form-control"></textarea></td>

  </tr>

  <tr>

    <td height="50" align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit" required class="btn btn-primary"/></td>

  </tr>
</table>
</form>
    <p></p>
    <p></p>
    {% endblock %}
{#</form>#}
{#</body>#}
{#</html>#}
